<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Link to the main stylesheet for general styles -->
  <link rel="stylesheet" href="css/index.css"/>
  <!-- Link to the specific stylesheet for the navigation menu -->
  <link rel="stylesheet" href="css/nav.css" />
</head>
<body>
  <header>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li
    </ul>
  </nav>
  </header>
  <main>
    <section>
      <h1><img src="images/logo2.png" alt="logo2"/></h1>
      <h2>Welcome to Our Website</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <h3>Youthrive Program</h3>
     <img src="images/info.jpg" alt="info"/>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <h4>ElitePath</h4>
     <img src="images/software.jpg" alt="software"/>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget orci ac ipsum vestibulum tincidunt. Aliquam erat volutpat. Duis fermentum augue ac erat convallis, a consectetur elit accumsan.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 My Website. All right reserved.</p>
  </footer>
</body>
</html>
